---
---

@import "{{ site.theme }}";

li {
	padding-left: 5px;
}

.site-footer {
  background: rgba(0, 0, 0, 0.1);
  width: 100%;
  border-top: 1px dashed $conifer; //footer;
  padding: 20px 0;
  margin: 40px 0 0 0;
}
